@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --cardWidth: 350px;
  --cardHeight: 500px;
}

body {
  background-color: green;
  font-family: "Prata", serif;
  text-align: center;
}

.input-group {
  width: 200px;
}

.input-group span {
  width: 100px;
}

button {
  font-size: 20px;
  margin: 30px;
  padding: 10px;
}

.card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--cardHeight) * 0.06);
}

.card span:first-child,
span:last-child {
  padding: calc(var(--cardHeight) * 0.04);
  font-size: calc(var(--cardHeight) * 0.24);
  position: absolute;
}

.card span:first-child {
  align-self: flex-start;
  top: calc(var(--cardHeight) * -0.11);
}

.card span:nth-child(2) {
  font-size: calc(var(--cardHeight) * 0.34);
}

.card span:last-child {
  align-self: flex-end;
  bottom: calc(var(--cardHeight) * -0.11);
  transform: rotate(180deg);
}

.diamond,
.heart {
  color: red;
}

.spade,
.club {
  color: black;
}
